estimating average treatment effects with double machine learning.ipynb
.ipynb_checkpoints/requirements-checkpoint.txt
.ipynb_checkpoints/DoubleML-checkpoint.ipynb
.ipynb_checkpoints/causal_model-checkpoint.png
.ipynb_checkpoints/estimating average treatment effects with double machine learning-checkpoint.ipynb
